.introduction {
    display: flex;
    height: 100vh;    
}

.intro-left{
    flex: 1;
}

.intro-right{
    flex: 1;
}
.intro-left-wrapper{
    padding: 50px;
}
.intro {
    font-size: 30px;
    font-weight: 3000;
}
.intro-name{
    font-size: 50px;
}
.intro-title{
    height: 50px;
}